<html>
   <body>
      <form action = "http://localhost:5000/claims " method = "post">
         <p>Name: <input type = "text" name = "name" /></p>
         <p>Matric: <input type = "text" name = "matric" /></p>
         <p>Contact: <input type = "text" name = "contact" /></p>
         <p>Event: <input type = "text" name = "event" /></p>
         <!-- insert prompts for ref number input -->
         <p>Ref No.: <input type = "text" name = "ref" /></p>
         <p>Date: <input type = "date" name = "date" /></p>
         <!-- Uncomment below if dont want so all receipt forms in claims (do a loop or sth) -->
         <!-- <p>Number of F&B Receipts: <input type = "number" name = "fnb_count" /></p>
         <p>Number of Prize Receipts: <input type = "number" name = "prize_count" /></p>
         <p>Number of Small Value Purchase: <input type = "number" name = "svp_count" /></p> -->
         
         <p><input type = "submit" value = "Next" /></p>
      </form>
   </body>
</html>