<!-- 1. Putting all 10 claim deets 2. Creating according to count -->
<html>
   <body>
      <form action = "http://localhost:5000/form " method = "post">
        <h2>Receipt #1</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #2</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #3</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #4</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #5</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #6</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #7</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #8</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #9</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select><br>
        <br>

        <h2>Receipt #10</h2>
        <p>Receipt Number: <input type = "text" name = "receipt" /></p>
         <p>Description of Expenses: <input type = "text" name = "description" /></p>
         <p>Amount: <input type = "number" name = "amount" step=".01"/></p>
        <label for="type">Receipt Type:</label>
        <select id="type" name="type">
          <option value="blank"></option>
          <option value="fnb">Food and Beverage</option>
          <option value="prize">Prize</option>
          <option value="svp">Small Value Purchase</option>
        </select>

        <p><input type = "submit" value = "Generate Form" /></p>
        <a href="/"> Back </a>

      </form>
   </body>
</html>