<!-- 1. Putting all 10 claim deets 2. Creating according to count -->
<html>
   <body>
      <form action = "http://localhost:5000/formA " method = "post">
        <h2>Overall Details</h2>
        <!-- can be linked from basic info -->
        <p>Name: <input type = "text" name = "name" /></p>
        <p>Matric: <input type = "text" name = "matric" /></p>
        <p>Room Number: <input type = "text" name = "roomnum" /></p>
        <p>Contact: <input type = "text" name = "contact" /></p>
        <p>Event: <input type = "text" name = "event" /></p>
        <p>Date: <input type = "date" name = "date" /></p>
        <!-- can be linked from basic info -->
        <p>Reference No. of Form: <input type = "text" name = "refnum" /></p>
         <p>Total amount: <input type = "number" name = "totalamt" step=".01"/></p>
         <label for="type">Reason for Acknowledgement:</label>
            <select id="type" name="reasonack">
            <option value="blank"></option>
            <option value="lack_info">Original receipt lack information on supplier</option>
            <option value="damage">Receipt damaged beyond salvage</option>
            <option value="not_issued">No receipt was issued</option>
            </select>
         <p>Reason (If no receipt was issued)/ Other Remarks: <input type = 'text' name = 'remarks'/></p>
            <br>
            <br>

        <h2>Details of Acknowledgement Receipt</h2>
        <h3>Receipt #1</h3>
        <p>Code: <input type = "text" name = "code1" /></p>
         <p>Item/Remarks: <input type = "text" name = "item1" /></p>
         <p>Supplier: <input type = "text" name = "supname1" /></p>
         <p>Supplier Contact: <input type = "text" name = "supcontact1" /></p>
         <p>Amount: <input type = "number" name = "amount1" step=".01"/></p>

        <h3>Receipt #2</h3>
         <p>Code: <input type = "text" name = "code2" /></p>
          <p>Item/Remarks: <input type = "text" name = "item2" /></p>
          <p>Supplier: <input type = "text" name = "supname2" /></p>
          <p>Supplier Contact: <input type = "text" name = "supcontact2" /></p>
          <p>Amount: <input type = "number" name = "amount2" step=".01"/></p>

        <h3>Receipt #3</h3>
          <p>Code: <input type = "text" name = "code3" /></p>
           <p>Item/Remarks: <input type = "text" name = "item3" /></p>
           <p>Supplier: <input type = "text" name = "supname3" /></p>
           <p>Supplier Contact: <input type = "text" name = "supcontact3" /></p>
           <p>Amount: <input type = "number" name = "amount3" step=".01"/></p>
        
        <h3>Receipt #4</h3>
           <p>Code: <input type = "text" name = "code4" /></p>
            <p>Item/Remarks: <input type = "text" name = "item4" /></p>
            <p>Supplier: <input type = "text" name = "supname4" /></p>
            <p>Supplier Contact: <input type = "text" name = "supcontact4" /></p>
            <p>Amount: <input type = "number" name = "amount4" step=".01"/></p>

        <h3>Receipt #5</h3>
            <p>Code: <input type = "text" name = "code5" /></p>
             <p>Item/Remarks: <input type = "text" name = "item5" /></p>
             <p>Supplier: <input type = "text" name = "supname5" /></p>
             <p>Supplier Contact: <input type = "text" name = "supcontact5" /></p>
             <p>Amount: <input type = "number" name = "amount5" step=".01"/></p>
        

        <p><input type = "submit" value = "Generate Form" /></p>
        <a href="/"> Back </a>

      </form>
   </body>
</html>