<style>
    p { margin:0.5em;}
    h2 { margin:0.5em;}
    h3 { margin:0.5em;}
    h6 { margin:0; }
</style>
<div style="margin: 5% 10%;">
    <p style="text-align: right;">RFP FORM</p>
<h3 style="text-align: center;"><strong>NATIONAL UNIVERSITY OF SINGAPORE</strong></h3>
<p style="text-align: center;"><strong>Request for Payment (RFP)</strong></p>
<p style="text-align: left;"><strong>To:</strong> <span style="text-decoration: underline;">Shared Financial Service Centre</span>                                                                      <strong>Date of Request:</strong> <span style="text-decoration: underline;">{{date}}</span></p>
<p><strong>Please arrange for payment/reimbursement to:</strong></p>
<p><strong>NUS Staff No.:</strong> <span style="text-decoration: underline;">{{staff_num}}     </span> <strong>NUS Student ID:</strong> <span style="text-decoration: underline;">{{matric}}     </span></p>
<p><strong>Payee's Name </strong>(as in vendor master record):</p>
<table style="border-collapse: collapse; width: 100%; height: 35px;" border="1">
<tbody>
<tr style="height: 35px;">
<td style="width: 100%; height: 35px;">{{name}}</td>
</tr>
</tbody>
</table>
<p> </p>
<table style="border-collapse: collapse; width: 100%; height: 38px;" border="1">
<tbody>
<tr style="height: 38px;">
<td style="width: 100%; height: 38px;"><strong>Currency: </strong><span style="text-decoration: underline;">{{currency}}     </span>   <strong>Amount:</strong><span style="text-decoration: underline;">{{amount}}     </span></td>
</tr>
</tbody>
</table>
<p><strong>Purpose/Particulars of Payment:</strong></p>
<p><span style="text-decoration: underline;">                                                                                                                                                                                     </span><span style="text-decoration: underline;">                                                                                                                                                                                     </span><span style="text-decoration: underline;">                                        </span></p>
<p>I certify that these expenses were incurred for official purposes.<br />Electronic receipts enclosed (if there are any) have not been submitted previously for claiming.</p>
<p> </p>
<p><span style="text-decoration: underline;">                                              </span></p>
<p><strong>Signature of Payee<sup>1</sup> / Date</strong></p>
<hr />
<p>For department's Use:</p>
<table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;">PK</td>
<td style="width: 23.2001%; height: 18px;">Vendor / GL</td>
<td style="width: 24.7611%; height: 18px;">Amount</td>
<td style="width: 20.7116%;">GST Code</td>
<td style="width: 25.3374%; height: 18px;">WBS No. / BA</td>
</tr>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;"> </td>
<td style="width: 23.2001%; height: 18px;"> </td>
<td style="width: 24.7611%; height: 18px;"> </td>
<td style="width: 20.7116%;"> </td>
<td style="width: 25.3374%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;"> </td>
<td style="width: 23.2001%; height: 18px;"> </td>
<td style="width: 24.7611%; height: 18px;"> </td>
<td style="width: 20.7116%;"> </td>
<td style="width: 25.3374%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;"> </td>
<td style="width: 23.2001%; height: 18px;"> </td>
<td style="width: 24.7611%; height: 18px;"> </td>
<td style="width: 20.7116%;"> </td>
<td style="width: 25.3374%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;"> </td>
<td style="width: 23.2001%; height: 18px;"> </td>
<td style="width: 24.7611%; height: 18px;"> </td>
<td style="width: 20.7116%;"> </td>
<td style="width: 25.3374%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 5.98988%; height: 18px;"> </td>
<td style="width: 23.2001%; height: 18px;"> </td>
<td style="width: 24.7611%; height: 18px;"> </td>
<td style="width: 20.7116%;"> </td>
<td style="width: 25.3374%; height: 18px;"> </td>
</tr>
</tbody>
</table>
<p>Verified by:                              Approved by:      </p>
<p> </p>
<p> </p>
<p><span style="text-decoration: underline;">                                     </span>               <span style="text-decoration: underline;">                               </span></p>
<p><strong>Name &amp; Signature / Date       Authorised Signatory / Date</strong></p>
<p>                                                  <span style="font-size: 13px; margin: 0;">(Approver signature is not required for payments processed via VIM)</span></p>
<p><span style="text-decoration: underline; color: grey;">                                     </span></p>
<h6><sup>1</sup>This is required for reimbursement claims. Where the department is using this form for payment in accordance with the engagement letter issued/approval conveyed to the individual (e.g. for per diem allowance), this can be left blank. The copy of such letter/approval should be attached to this form.</h6>
</div>