<!-- Adjust alignments of signature at the bottom -->
<style>
    p { margin:0.5em;}
    h2 { margin:0.5em;}
    h3 { margin:0.5em;}
    h6 { margin-top:0em;}
</style>
<div style="margin: 5% 10%;">
    <p style="text-align: right;"><em>Appendix A</em></p>
    <p style="text-align: left;">Note: This is an attachment.</p>
    <p style="text-align: center;"><span style="text-decoration: underline;"><strong>ACKNOWLEDGEMENT RECEIPT </strong></span></p>
    <p>Reference No. of Form: <span style="text-decoration: underline;">         </span></p>
    <p>Date (dd/mm/yyyy) : <span style="text-decoration: underline;">         </span></p>
    <p>Total Amount (S$): <span style="text-decoration: underline;">         </span></p>
    <p>Name of Claimant: <span style="text-decoration: underline;">         </span></p>
    <p>Matric Number : <span style="text-decoration: underline;">         </span></p>
    <p>Room No. (Eusoff Hall): <span style="text-decoration: underline;">         </span></p>
    <p>Contact Number: <span style="text-decoration: underline;">         </span></p>
    <p>The breakdown of details are as follows:</p>
    <table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 20%;">Code</td>
    <td style="width: 20%;">Item/Remarks</td>
    <td style="width: 20%;">Supplier</td>
    <td style="width: 20%;">Supplier's Contact</td>
    <td style="width: 20%;">Amount (S$)</td>
    </tr>
    <tr>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    </tr>
    <tr>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    </tr>
    <tr>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    </tr>
    <tr>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    </tr>
    <tr>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    <td style="width: 20%;"> </td>
    </tr>
    </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 80.0337%;">                                                                                    TOTAL: S$</td>
    <td style="width: 19.9663%;"> </td>
    </tr>
    </tbody>
    </table>
    <p>Declaration:</p>
    <p>I,<span style="text-decoration: underline;">                             </span>  declare that the above items were purchased by me on <span style="text-decoration: underline;">                             </span> for the event <span style="text-decoration: underline;">                             </span> and this acknowledgement is used because</p>
    <p style="text-align: center;"><span style="text-decoration: underline;">ORIGINAL RECEIPT LACK INFORMATION ON SUPPLIER / RECEIPT DAMAGED BEYOND SALVAGE / NO RECEIPT WAS ISSUED.</span>  </p>
    <h6 style="text-align: center;">(Delete where applicable)</h6>
    <p></p>
    <p>Claimant's Signature / Date: <span style="text-decoration: underline;">                             </span></p>
    <p>Reason (If no receipt was issued) / Other Remarks:</p>
    <p><span style="text-decoration: underline;">                                                                                                                                                      </span></p>
    <p>Witnessed by,                   Witnessed by,                   Authorised by,</p>
    <p>Name:                                Name: Nga Wan Qin        Name: Dr Lee Chian Chau</p>
    <p>Role:                                                                  Finance Director                  Domestic Bursar</p>
    <p>Contact:                            Contact: 93383618                          Contact:</p>
    <p>Date:                                 Date:                                 Date:</p>
    <h6>Note: This form is applicable only for expendables not exceeding S$50.00, except for receipts that lack information on supplier.</h6>
</div>