<style>
    p { margin:0.5em;}
    h2 { margin:0.5em;}
    h3 { margin:0.5em;}
</style>
<div style="margin: 5% 10%;">
    <h2 style="text-align: center;">NATIONAL UNIVERSITY OF SINGAPORE</h2>
    <h3 style="text-align: center;">LOCAL TRANSPORT CLAIM - STUDENT</h3>
    <h3 style="text-align: center;">EUSOFF HALL</h3>
    <p>Ref:                 {{ref}}</p>
    <p>Date:                 {{date}}</p>
    <p>To:                 Eusoff Hall Office</p>
    <p>Name of Claimant:<span style="text-decoration: underline;">   {{name}}           </span> Matric No.: <span style="text-decoration: underline;">   {{matric}}           </span> Event: <span style="text-decoration: underline;">   {{event}}           </span></p>
    <p>Vehicle Registration No.: <span style="text-decoration: underline;">                                 </span> GL Code: <span style="text-decoration: underline;">               </span> WBS Nos: <span style="text-decoration: underline;">               </span></p>
    <p>Gantry No (For ERP charge Only): <span style="text-decoration: underline;">                                 </span> Amount: <span style="text-decoration: underline;">   {{totalAmount}}           </span></p>
    <p>Description of Bulky/heavy Items (For Taxi Claim only): <span style="text-decoration: underline;">                        </span> Type of Claim (Please circle the below-mentioned accordingly):-</p>
    <p>Please debit this amount from <span style="text-decoration: underline;">                                 </span></p>
    <!-- OG table top borderline is 2-lined -->
    <table style="border-collapse: collapse; width: 97.2527%; height: 170px;" border="1">
        <tbody>
        <tr style="height: 17px;">
            <td style="width: 13.3682%; height: 17px; text-align: center;">Code No.</td>
            <td style="width: 15.8116%; height: 17px; text-align: center;">Receipt No.</td>
            <td style="width: 40.5933%; height: 17px; text-align: center;">Description of Expenses</td>
            <td style="width: 13.0192%; height: 17px; text-align: center;">GL Code</td>
            <td style="width: 17.2077%; height: 17px; text-align: center;">Amount ($)</td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; width: 97.2527%;" border="1">
        <tbody>
        <tr>
            <td style="width: 80.6029%;">  <strong>WBS No.:</strong>                                                                <strong>TOTAL</strong></td>
            <td style="width: 16.6871%;"> </td>
        </tr>
        </tbody>
    </table>
    <p>Prepared by                       Authorised by      Authorised by      Authorised by</p>
    <p> </p>
    <p> </p>
    <p><span style="text-decoration: underline;">                               </span>         <span style="text-decoration: underline;">                     </span>         <span style="text-decoration: underline;">                     </span>        <span style="text-decoration: underline;">                      </span></p>
    <p>Committee Treasurer      Finance Director   RF-in-Charge       Domestic Bursar</p>
    <p>                                        Tan Yi Chen                                      Dr Lee Chian Chau</p>
    <p>Date:                               Date:                      Date:                    Date:</p>

    <h6 class="c15"><span class="c18" style="color: #999999;">Note: </span><br /><span class="c18" style="color: #999999;">1. Please fill in one payee's details per form. Please ensure that the payee's name &amp; matric numbers are correct &amp; complete. <br />2. If the student has not settled payment to supplier, please instruct SFSC to pay to the supplier. <br /></span><span class="c18" style="color: #999999;">3. Original supplier receipt/invoice and quotation documents must be attached to this form. </span><br /><span class="c18" style="color: #999999;">4. For claiming taxi, diesel/petrol &amp; ERP charges, please fill up the relevant form &amp; attach the original receipts together with this form.</span></h6>

</div>