<style>
    p { margin:0.5em;}
    h2 { margin:0.5em;}
    h3 { margin:0.5em;}
</style>
<div style="margin: 5% 10%;">
    <p style="text-align: right;">Form E</p>
    <p>Summary of Quotations</p>
    <p style="text-align: center;"><strong>NATIONAL UNIVERSITY OF SINGAPORE</strong></p>
    <p style="text-align: center;"><strong>EUSOFF HALL</strong></p>
    <p><strong>SUMMARY &amp; APPROVAL OF WRITTEN QUOTATIONS</strong></p>
    <p>QUOTATION FOR: <span style="text-decoration: underline;">                                                                 </span></p>
    <p>REF NO. OF FORM: <span style="text-decoration: underline;">                       </span></p>
    <p>TOTAL NO OF QUOTATIONS RECEIVED: <span style="text-decoration: underline;">                              </span></p>
    <table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
    <tbody>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;">NO.</td>
    <td style="width: 35.6861%; height: 18px;">NAME OF SUPPLIER</td>
    <td style="width: 24.5501%; height: 18px;">AMOUNT</td>
    <td style="width: 33.7739%; height: 18px;">REMARKS</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;"> </td>
    <td style="width: 35.6861%; height: 18px;"> </td>
    <td style="width: 24.5501%; height: 18px;"> </td>
    <td style="width: 33.7739%; height: 18px;"> </td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;"> </td>
    <td style="width: 35.6861%; height: 18px;"> </td>
    <td style="width: 24.5501%; height: 18px;"> </td>
    <td style="width: 33.7739%; height: 18px;"> </td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;"> </td>
    <td style="width: 35.6861%; height: 18px;"> </td>
    <td style="width: 24.5501%; height: 18px;"> </td>
    <td style="width: 33.7739%; height: 18px;"> </td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;"> </td>
    <td style="width: 35.6861%; height: 18px;"> </td>
    <td style="width: 24.5501%; height: 18px;"> </td>
    <td style="width: 33.7739%; height: 18px;"> </td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 5.98988%; height: 18px;"> </td>
    <td style="width: 35.6861%; height: 18px;"> </td>
    <td style="width: 24.5501%; height: 18px;"> </td>
    <td style="width: 33.7739%; height: 18px;"> </td>
    </tr>
    </tbody>
    </table>
    <p>Reasons for not accepting the lowest quote (if applicable) : </p>
    <p><span style="text-decoration: underline;">                                                                                                                                                                                                                                                                                                                                                                        </span></p>
    <p>Reasons for getting less than 3 quotations (if applicable) :</p>
    <p><span style="text-decoration: underline;">                                                                                                                                                                                                                                                                                                                                                                        </span></p>
    <p>Approval is sought to award the quotation submitted by <span style="text-decoration: underline;">                    </span> for the sum  of S$ <span style="text-decoration: underline;">                   </span>.</p>
    <p>Recommended by: <span style="text-decoration: underline;">                         </span>     Signature/Date: <span style="text-decoration: underline;">                        </span> </p>
    <p><strong>Notes to students opening and recording quotations:</strong></p>
    <ul>
    <li><strong>Please attach all quotation forms.</strong></li>
    <li><strong>Eusoff Hall can only place order or sign agreements for the goods/services after the approving authorities approve the award of quotation.</strong></li>
    </ul>
    <p>Prepared by                       Authorised by      Authorised by      Authorised by</p>
    <p> </p>
    <p> </p>
    <p><span style="text-decoration: underline;">                               </span>         <span style="text-decoration: underline;">                     </span>         <span style="text-decoration: underline;">                     </span>         <span style="text-decoration: underline;">                      </span></p>
    <p>Committee Treasurer      RF-in-charge        Domestic Bursar    Hall Master</p>
    <p>                                                                  Dr Lee Chian Chau   A/P Qiu Anqi</p>
    <p>Date:                               Date:                      Date:                    Date:</p>
</div>