<p class="c28" style="text-align: right;"><span class="c34">FORM A1 </span></p>
<h2 class="c10" style="text-align: center;"><span class="c20">NATIONAL UNIVERSITY OF SINGAPORE </span></h2>
<h3 class="c3" style="text-align: center;"><span class="c2">EUSOFF HALL </span></h3>
<h3 class="c3" style="text-align: center;"><span class="c2">REQUEST FOR ADVANCE </span></h3>
<p class="c29"><span class="c9">Ref: </span></p>
<p class="c32"><span class="c9">Date: </span></p>
<p class="c17"><span class="c9">To: Eusoff Hall Office </span></p>
<p class="c23"><span style="text-decoration: underline;"><strong><span class="c19">Request for Advance</span><span class="c7"> </span></strong></span></p>
<p class="c25"><span class="c1">We would like to request for a cash advancement of S$<span style="text-decoration: underline;">                          </span></span></p>
<p class="c25"><span class="c1">Event: <span style="text-decoration: underline;">                         </span> Date of Account: <span style="text-decoration: underline;">                         </span> </span></p>
<p class="c25"><span class="c1">Purpose: <span style="text-decoration: underline;">                         </span><span style="text-decoration: underline;">                         </span><span style="text-decoration: underline;">                         </span></span></p>
<p class="c25"><span class="c1">Please debit this amount from <span style="text-decoration: underline;">                         </span><span style="text-decoration: underline;">                         </span><span style="text-decoration: underline;">                         </span></span></p>
<table style="border-collapse: collapse; width: 97.2527%; height: 170px;" border="1">
<tbody>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px; text-align: center;">Code No.</td>
<td style="width: 15.8116%; height: 17px; text-align: center;">Receipt No.</td>
<td style="width: 40.5933%; height: 17px; text-align: center;">Description of Expenses</td>
<td style="width: 13.0192%; height: 17px; text-align: center;">GL Code</td>
<td style="width: 17.2077%; height: 17px; text-align: center;">Amount ($)</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description1}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description2}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description3}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description4}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description5}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description6}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description7}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description8}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 13.3682%; height: 17px;">&nbsp;</td>
<td style="width: 15.8116%; height: 17px;">&nbsp;</td>
<td style="width: 40.5933%; height: 17px;">{{description9}}</td>
<td style="width: 13.0192%; height: 17px;">&nbsp;</td>
<td style="width: 17.2077%; height: 17px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 13.3682%;">&nbsp;</td>
<td style="width: 15.8116%;">&nbsp;</td>
<td style="width: 40.5933%;">{{description10}}</td>
<td style="width: 13.0192%;">&nbsp;</td>
<td style="width: 17.2077%;">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 97.2527%;" border="1">
<tbody>
<tr>
<td style="width: 80.6029%;">&nbsp; <strong>WBS No.:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>TOTAL</strong></td>
<td style="width: 16.6871%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>Prepared by&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Authorised by&nbsp; &nbsp; &nbsp; Authorised by&nbsp; &nbsp; &nbsp; Authorised by</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; <span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; <span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
<p>Committee Treasurer&nbsp; &nbsp; &nbsp; Finance Director&nbsp; &nbsp;RF-in-Charge&nbsp; &nbsp; &nbsp; &nbsp;Domestic Bursar</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nga Wan Qin&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Dr Lee Chian Chau</p>
<p>Date:&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Date:&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Date:</p>
</div>
<h6 class="c15"><span class="c18" style="color: #999999;">Note: </span><br /><span class="c18" style="color: #999999;">1. Please fill in one payee's details per form. Please ensure that the payee's name &amp; matric numbers are correct &amp; complete. <br />2. If the student has not settled payment to supplier, please instruct SFSC to pay to the supplier. <br /></span><span class="c18" style="color: #999999;">3. Original supplier receipt/invoice and quotation documents must be attached to this form. </span><br /><span class="c18" style="color: #999999;">4. For claiming taxi, diesel/petrol &amp; ERP charges, please fill up the relevant form &amp; attach the original receipts together with this form.  <br />5. Please ensure that all procurement procedures are complied with.</span></h6>