<style>
    p { margin:0.5em;}
    h2 { margin:0.5em;}
    h3 { margin:0.5em;}
</style>
<div style="margin: 5% 10%;">
    <h2 style="text-align: center;">NATIONAL UNIVERSITY OF SINGAPORE</h2>
    <h3 style="text-align: center;">EUSOFF HALL</h3>
    <h3 style="text-align: center;">PAYMENT TO SUPPLIER</h3>
    <p>Ref:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{ref}}</p>
    <p>Date:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{date}}</p>
    <p>To:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Eusoff Hall Office</p>
    <p><strong><span style="text-decoration: underline;">Event:&nbsp; &nbsp; {{event}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
    <p><strong><span style="text-decoration: underline;">Payment of Expenditure</span></strong></p>
    <p>Please arrange for reimbursement as follows:-</p>
    <p>Payee's Name:<span style="text-decoration: underline;">&nbsp; &nbsp;{{name}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> Matric Number: <span style="text-decoration: underline;">&nbsp; &nbsp;{{matric}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
    <p>Total Amount: <span style="text-decoration: underline;">&nbsp; &nbsp; {{total}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> Contact Number: <span style="text-decoration: underline;">&nbsp; &nbsp;{{contact}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
    <p>Please debit this amount from <span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<!-- OG table top borderline is 2-lined -->

    <table style="border-collapse: collapse; width: 97.2527%; height: 170px;" border=1>
        <tbody>
        <tr style="height: 17px;">
            <td style="width: 13.3682%; height: 17px; text-align: center;">Code No.</td>
            <td style="width: 15.8116%; height: 17px; text-align: center;">Receipt No.</td>
            <td style="width: 40.5933%; height: 17px; text-align: center;">Description of Expenses</td>
            <td style="width: 13.0192%; height: 17px; text-align: center;">GL Code</td>
            <td style="width: 17.2077%; height: 17px; text-align: center;">Amount ($)</td>
        </tr>
        {% for item in receipts %}
        <tr style="height: 17px;">
            <td style="width: 13.3682%; height: 17px; word-break:break-all;">&nbsp;</td>
            <td style="width: 15.8116%; height: 17px; word-break:break-all;">{{item['num'+loop.index|string]}}</td>
            <td style="width: 40.5933%; height: 17px; word-break:break-all;">{{item['description'+loop.index|string]}}</td>
            <td style="width: 13.0192%; height: 17px; word-break:break-all;">&nbsp;</td>
            <td style="width: 17.2077%; height: 17px; word-break:break-all;">{{item['amount'+loop.index|string]}}</td>
        </tr>
        {% endfor %}
        {% if 10 - receipts|length > 0 %}
        {% for n in range(10-receipts|length) %}
        <tr style="height: 17px;">
            <td style="width: 13.3682%; height: 17px;">&nbsp;</td>
            <td style="width: 15.8116%; height: 17px;">&nbsp;</td>
            <td style="width: 40.5933%; height: 17px;">&nbsp;</td>
            <td style="width: 13.0192%; height: 17px;">&nbsp;</td>
            <td style="width: 17.2077%; height: 17px;">&nbsp;</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <table style="border-collapse: collapse; width: 97.2527%;" border="1">
        <tbody>
        <tr>
            <td style="width: 80.6029%;">&nbsp; <strong>WBS No.:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>TOTAL</strong></td>
            <td style="width: 16.6871%;">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <p>Prepared by&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Authorised by&nbsp; &nbsp; &nbsp; Authorised by&nbsp; &nbsp; &nbsp; Authorised by</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; <span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; <span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
    <p>Committee Treasurer&nbsp; &nbsp; &nbsp; Finance Director&nbsp; &nbsp;RF-in-Charge&nbsp; &nbsp; &nbsp; &nbsp;Domestic Bursar</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tan Yi Chen  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Dr Lee Chian Chau</p>
    <p>Date:&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Date:&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Date:</p>

    <h6 class="c15"><span class="c18" style="color: #999999;">Note: </span><br /><span class="c18" style="color: #999999;">1. Please fill in one payee's details per form. Please ensure that the payee's name &amp; matric numbers are correct &amp; complete. <br />2. If the student has not settled payment to supplier, please instruct SFSC to pay to the supplier. <br /></span><span class="c18" style="color: #999999;">3. Original supplier receipt/invoice and quotation documents must be attached to this form. </span><br /><span class="c18" style="color: #999999;">4. For claiming taxi, diesel/petrol &amp; ERP charges, please fill up the relevant form &amp; attach the original receipts together with this form.</span></h6>
    
</div>